/*Josefin Sans [font]*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {

    /*Colors*/
    --white: hsl(0, 0%, 98%);
    --bg-color: hsl(236, 33%, 92%);
    --completed: hsl(233, 11%, 84%);
    --unselected-options: hsl(236, 9%, 61%);
    --selected-options: hsl(235, 19%, 35%);
     
    /*URLs*/
    --bg-desktop: url(./assets/bg-desktop-light.jpg);
    --bg-mobile: url(./assets/bg-mobile-light.jpg);
   

    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
}

[data-theme='dark'] {
    --white:  hsl(235, 24%, 19%);
    --bg-color: hsl(235, 21%, 11%);
    --completed: hsl(233, 11%, 84%);
    --unselected-options: hsl(236, 9%, 61%);
    --selected-options: hsl(235, 19%, 35%);
  }

@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}

/* ------------------- */
/* Reset               */
/* ------------------- */


/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

body {
  font-family: 'Josefin Sans';
}

.app {
width: 100%;
height: 100vh;
background:var(--bg-color) url(./assets/bg-desktop-light.jpg) no-repeat;
background-size: contain;
color: var(--white);
}

